:root{
    --fuente: 'Inter', sans-serif;
}

html{
    /*fondo en degradado*/
    background: linear-gradient(90deg, magenta,yellow, blue);
    background-position-y: 60px;
    background-repeat: no-repeat;
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.body{
    display:flex;
    font-family: var(--fuente);
    font-weight: 400;
    line-height: 150%;
}

/*barra de encabezado*/
.titulo{
    background: blueviolet;
    color: white;
    font-style: normal;
    display: flex;
    justify-content: start;
}

.titulo_G4{
    font-size: 1.5em;
    padding: 10px 0px 10px 30px;
    flex-grow: 0.4;
}

.titulo_nomdesafio{
    /*nombre del desafío*/
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
}

/*marco del desafio*/

.margen-proyecto{
    display: flex;
    margin: 25px 25px;
    padding: 20px;    
    border: 3px solid #052051;
    border-radius: 10px;
    background: #F3F5FC;
    box-shadow: 0 0 20px 10px #c5bcbc;
}

/*encriptador*/
.logoalura{
    float: left;
}

.uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
}

.area-texto{
    /*cuadro de ingrese texto*/
    border: none;
    margin-top: 90px;
    font-family: var(--fuente);
    font-size: 1em;
    line-height: 150%;
    color: #0A3871;
    text-transform: lowercase;
    background-color: transparent;
    resize: none;
    outline: none;
}

::placeholder{color: #0a3871;}

.alerta{
    font-size: 0.45em;
    font-weight: bold;
    color:#495057;
    padding-bottom: 30px; 
}

/*configuracion general de todos los botones*/
.botones{
    display: flex;
    text-align:center;
    justify-content: space-between;
}

.but-encriptar, .but-desencriptar, .but-copiar{
    color: #d8dfe8;
    background: #0a3871;
    width: 328px;
    height: 67px;
    padding: 15px;
    font-size: 0.5em;
    font-weight: bold;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-style: normal;
}

.but-encriptar:hover, .but-desencriptar:hover, .but-copiar:hover{
    cursor: pointer;
    transform: scale(1.05);
    opacity: 30%;
}

.but-desencriptar, .but-copiar{
    color: #0a3871;
    background: #d8dfe8;
}

/*panel derecho*/
.dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 25px;
    width: 400px;
    height: calc(940px*0.8);
    font-family: var(--fuente);
}

.dos_encriptado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msj-encriptado{
    background: red/*transparent*/;
    border: none;
    margin-top: 90px;
    border-radius: 25px;
    width: 350px;
    /*margin-left: 25px;*/
    font-size: 1em;
    line-height: 150%;
    color: #0A3871;
    resize: none;
    height: 300px;
    text-align: center;
}

#ocultar{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 122px;
}

.munheco{
    align-self: start;
}

/*
.notext{
    font-size: 0.75em;
    width: 336px;
    height: 58px;
    line-height: 120%;
    gap: 16px;
    text-align: center;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ingres{
    font-size: 0.5em;
    width: 336px;
    height: 48px;
    line-height: 150%;
    text-align:center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}




*/

.pie{
    font-size: 15px;
    text-align:center;
    color: #495057;
}
/*
@media screen and (max-width:820px){
    
    .cuadro-proyecto{
        height: 1800px;
        margin-left: 10px;
    }
    .cuadro-proyecto, .uno, .dos{
        width:calc(90%);
    }

    .botones{
        flex-direction: column;
    }

    .botones, .but-encriptar, .but-desencriptar, .but-copiar{
        width: calc(90%);
        margin-left: 5px;
    }
    .area-texto{
        width: calc(80%);
        align-items: center;
        margin-left:60px;
    }

    .uno{
        margin-left:20px;
    }
    
    #ocultar{
        width: calc(50%);
    }

    .dos{
        position: relative;
        top: 0px;
        left: -1000px;
    }

    .msj-encriptado{
        width: calc(100%);
    }
    .munheco{
        width: 250px;
    }
    .notexto{
        text-align: justify;
    }

    .ingres{
        margin-left: -30px;
    }
    
}

*/