.uno {
    display: flex;
    flex-direction: column;
    
}

.uno__texto-encriptar{
    margin-top: 15px;
    font-family: var(--fuente);
    color: var(--color-fuente-azul);
    font-size: 1.9em;
    line-height: 150%;
    width: 100%;
    
    background-color: transparent;
    resize: none;
    border:none;
    outline: none;
}

::placeholder{
    color:var(--color-fuente-azul);
}

.uno__alerta{
    font-size: 0.8em;
    font-weight: bold;
    color:var(--color-fuente-gris-chico);
    margin-bottom: 10px;
}

.uno__botones{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    
}

.uno__boton-encriptar {
    justify-content: space-around;
    color: var(--color-fuente-blanco);
    background: var(--color-fondo-boton-oscuro);
    font-weight: bold;
    margin: 8px 0px;
    
}

.uno__boton-desencriptar {
    color: var(--color-fuente-azul);
    font-weight: bold;
    margin: 12px 0px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .uno__texto-encriptar{
        width: 100%
    }

    .uno__botones {
        width: 100%;
        flex-wrap: nowrap;
        padding: 0;
        font-size: 1.2em;
        padding: 5px;
        margin-bottom: 30px;
    }

    .uno__boton-encriptar {
        margin-right: 5%;
    }

    .uno__boton-desencriptar {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .uno {
        width: 180%
    }
    .uno__texto-encriptar{
        width: 90%;
        margin: 105px 0 167px 0;
    }

    .uno__alerta{
        font-weight:normal;
    }

    ::placeholder{
        font-weight: bold;
    }
    .uno__botones {
        width: 100%;
        flex-wrap: nowrap;
        padding: 0;
        font-size: 1.2em;
        padding: 5px;
    }

    .uno__boton-encriptar {
        
        margin-right: 4%;
    }

    .uno__boton-desencriptar {
        background-color: var(--color-fondo-boton-claro);
        margin-right: 16%;
    }

}
