:root{
    --fuente: 'Inter', sans-serif;

    --color-fondo-claro: #F3F5FC;
    --color-fondo-blanco: #FFFFFF;
    --color-fondo-boton-claro: #D8DFE8;
    --color-fondo-boton-oscuro:  #0A3871;
    
    --color-sombra: #adb5bd;


    --color-fuente-azul: #0A3871; 
    --color-fuente-blanco: #FFFFFF;
    --color-fuente-gris-chico: #495057;
    --color-fuente-gris-grande: #343A40;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fuente);
    background: linear-gradient(90deg, magenta,yellow, blue);
}

.container{
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--color-fondo-claro);
}

.boton{
    width: 100%;
    max-width: 328px;
    height: 100%;
    max-height: 67px;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border: 1px solid var(--color-fondo-boton-oscuro);
    border-radius: 20px;
    text-align: center;
}

.html{
    display:flex;
}

.encriptador{
    border: 5px solid var(--color-fondo-boton-oscuro);
    margin: 2%;
    border-radius: 24px;
}

@media screen and (min-width: 1024px) {
    .encriptador {
        display:flex;
        flex-direction: row;
        height: 100%;
        max-height: 785px;
    }
}